@import url(https://fonts.googleapis.com/css2?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Righteous);

body {
    margin: 0;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}


* {
    margin: 0;
    box-sizing: border-box;
    /* background-color: #d4b0c9;
    background-image: url("https://www.transparenttextures.com/patterns/psychedelic.png"); */
}

.cards-container {
    width: 100%;
    margin-top: 30rem;
    background: #ddd;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.title {
    font-size: 160px;
    text-align: center;
    margin: 40px auto 0px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: righteous;
    color: white;
    max-width: 1150px;

    text-shadow: 10px 10px #BADEA6;

    padding: 0px 6px;
    transition: 0.8s;
    transform: rotateZ(0deg);
}

.title:hover {
    cursor: pointer;

}

.card-back {

    padding: 0;
    width: 13em;
    height: 20em;
}

.card-back img {
    margin: 0;
    top: 0.5rem;
    left: 0.1rem;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}

.card:hover {
    transform: translateY(-10rem);
    background-color: #FFF;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}

.turn-cards-button {
    display: inline-block;
    background-color: #BADEA6;
    align-items: center;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    margin-left: 30em;

    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: seashell;
    cursor: pointer;
}

.turn-cards-button:focus {
    outline: 0;
}

.turn-cards-button:hover {
    transform: translateY(-10rem) rotateY(180deg);
    background-color: #FFF;
    z-index: 2;
    box-shadow: 2px 2px 2px #000;
}

.card {
    width: 13em;
    height: calc(13rem * 768 / 479);
    display: block;
    position: relative;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 12px 4px rgb(161, 161, 161);
    margin-left: -10.5rem;
    flex-shrink: 0;
    transition: 0.4s;
    transform-style: preserve-3d;
    z-index: 1;
}

.card:hover {
    transform: translateY(-6rem);
    background-color: #fff;
    box-shadow: 2px 2px 2px #000;
}

.card-back {
    padding: 0;
    width: 100%;
    height: 100%;
    display: hidden;
    position: absolute;
    backface-visibility: hidden;
}

.card-back img {
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: center;
    display: block;
    position: absolute;
}

.card-label {
    position: absolute;
    display: block;
}

.turned {
    transform: rotateY(180deg);
    animation-name: turn-to-back;
    animation-duration: 0.5s;
    display: visible;
}

.turned:hover {
    transform: translateY(-6rem) rotateY(180deg);
    background-color: #fff;
    box-shadow: 2px 2px 2px #000;
}


.face-up {
    animation-name: turn-to-front;
    animation-duration: 0.5s;
    display: visible;
}

/* 
Hieronder staan de animaties, je kunt ze aanpassen door extra keyframes toe te voegen of de bestaande aan te passen.

    Meer info:
https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes
*/

@keyframes turn-to-back {
    0% {
        transform: translateY(0rem) rotateY(0deg);
    }

    25% {
        transform: translateY(-1.5rem) rotateY(0deg);
    }

    75% {
        transform: translateY(-1.5rem) rotateY(180deg);
    }

    100% {
        transform: translateY(0rem) rotateY(180deg);
    }
}

@keyframes turn-to-front {
    0% {
        transform: translateY(0rem) rotateY(180deg);
    }

    25% {
        transform: translateY(-1.5rem) rotateY(180deg);
    }

    75% {
        transform: translateY(-1.5rem) rotateY(0deg);
    }

    100% {
        transform: translateY(0rem) rotateY(0deg);
    }
}