@import url(https://fonts.googleapis.com/css2?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Righteous);

/* @media (max-width: 350px) {
    .cards-container {
        overflow-x: scroll;
        padding-left: 10.5rem;
    }
} */

* {
    margin: 0;
    box-sizing: border-box;
    /* background-color: #d4b0c9;
    background-image: url("https://www.transparenttextures.com/patterns/psychedelic.png"); */
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    overflow: hidden;
    background-color: #EBEBEB;
}

header {
    background: #000;
    width: 100%;
    /* flex-direction: row; */
    justify-content: center;
}

.cards-container {
    width: 100%;
    height: calc((13rem * 768 / 479) - 15rem + 7rem);
    bottom: 0;
    position: absolute;
    padding-left: 10.5rem;
    margin-bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    overflow-y: hidden;
    /* flex-wrap: wrap; */
}

.title {
    font-size: 5rem;
    text-align: center;
    margin: 40px auto 0px;
    text-transform: uppercase;
    font-weight: 900;
    font-family: righteous;
    color: #fff;
    max-width: 1150px;
    text-shadow: 10px 10px #C4C1EB;
    padding: 0px 6px;
    /* transition: 0.8s; */
    /* transform: rotateZ(0deg); */
}

/* .title:hover {
    cursor: pointer;
} */

.turn-cards-button {
    display: flex;
    background-color: #C4C1EB;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 2em;
    top: 2em;
}

/* .turn-cards-button:focus {
    outline: 0;
} */

.turn-cards-button:hover {
    background-color: #FFF;
    /* z-index: 2; */
    box-shadow: 2px 2px 2px #000;
    cursor: pointer;
}

.turned>div>.card-face {
    display: hidden;
}

.card-back .turnCards {
    display: visible;
}

.card-label {
    position: absolute;
    display: block;
}

.card {
    width: 13em;
    height: calc(13rem * 768 / 479);
    display: block;
    position: relative;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 4px 4px 12px 4px rgb(161, 161, 161);
    margin-left: -10.5rem;
    margin-bottom: -15rem;
    flex-shrink: 0;
    transition: 0.4s;
    transform-style: preserve-3d;
    z-index: 1;
}

.card-back {
    padding: 0;
    width: 100%;
    height: 100%;
    display: hidden;
    position: absolute;
    backface-visibility: hidden;
}

.card-back img {
    width: 100%;
    height: 100%;
    padding: 1rem;
    justify-content: center;
    display: block;
    position: absolute;
    border-radius: 2rem;
}

.card:hover {
    transform: translateY(-6rem);
    background-color: #fff;
    box-shadow: 4px 4px 12px 4px rgb(161, 161, 161);
    cursor: pointer;
}

.turned:hover {
    transform: translateY(-6rem) rotateY(180deg);
    background-color: #fff;
    box-shadow: 2px 2px 2px rgb(161, 161, 161);
    cursor: pointer;
}

.turned {
    transform: rotateY(180deg);
    animation-name: turn-to-back;
    animation-duration: 0.5s;
    display: visible;
}

/* .card-face {
    display: visible;
    position: absolute;
    backface-visibility: hidden;
} */

/* .turned>div>.card-face {
    display: hidden;
} */

.card-label {
    position: absolute;
    display: block;
}

.face-up {
    animation-name: turn-to-front;
    animation-duration: 0.5s;
    display: visible;
}

/* 
Hieronder staan de animaties, je kunt ze aanpassen door extra keyframes toe te voegen of de bestaande aan te passen.

    Meer info:
https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes
*/

@keyframes turn-to-back {
    0% {
        transform: translateY(0rem) rotateY(0deg);
    }

    25% {
        transform: translateY(-1.5rem) rotateY(0deg);
    }

    75% {
        transform: translateY(-1.5rem) rotateY(180deg);
    }

    100% {
        transform: translateY(0rem) rotateY(180deg);
    }
}

@keyframes turn-to-front {
    0% {
        transform: translateY(0rem) rotateY(180deg);
    }

    25% {
        transform: translateY(-1.5rem) rotateY(180deg);
    }

    75% {
        transform: translateY(-1.5rem) rotateY(0deg);
    }

    100% {
        transform: translateY(0rem) rotateY(0deg);
    }
}